
body{
  background-color: #52A5A8;
  width: 100%;
  color: #29023D;   
  font-family:'Times New Roman', Times, serif;
  }
  
  main{
  margin-right: 90px ;
  margin-left: 90px;
  margin-top: 4em;
  
  }
  
  img{
  width: 70%;
  object-fit: none;
  margin-bottom:3rem;
  
  }
  
  
  h1{
    text-align:right;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 40px;
    display:block;  
  }
  
  
  p#info,h2{
  border-radius: 10px;
  text-align:right;
  margin-left: 30% ;
  margin-right: 30%;
  font-size: 20px;
  display:block;
  
  }
  p#mensagem{
  
  font-size:15px;
  margin: 10px;
  margin: 0.5rem;
  }
  
  h3 {
  text-align: center;
  margin: 0px 300px 0px  300px;
  background-color:rgb(238, 226, 226);
  font-size: 25px;
  opacity: 70%;
  }
  
  
  .steps{
  background-color:rgb(238, 226, 226);
  font-size: 20px;
  opacity: 70%;
  margin: 0px 300px 0px  300px;
  padding: 3px;
  color: #2B0240;
  
  }
  
  
  input{
  margin-bottom: 3rem;
  margin-top: 7rem;
  width: 70px;
  height: 30px;
  border-radius:10px;
  font-size:20px;
  
  }
  
  textarea{
  text-align:center;
  border-radius: 10px;  
  height: 18.5ch;
  width: 25rem;
  opacity: 70%;  
  margin: 0px 20px 0px  30px;
  
  }
  
  
  #btnDecriptar,#btnCodificar{
  background-color: rgb(187, 179, 169);
  border-radius: 5px;
  right:35px ;
  width:5em;
  border-style:none;
  
  }
  
  
  footer{
  align-items:right;
  display:flex;
  justify-content: flex-end;
  margin-right: 40px;
  font-size: larger;
  }